[submodule "sdk/src/main/cpp/third-party/xdebug"]
	path = sdk/src/main/cpp/third-party/xdebug
	url = https://github.com/kgbook/xdebug
[submodule "sdk/src/main/cpp/third-party/SpdlogHelper"]
	path = sdk/src/main/cpp/third-party/SpdlogHelper
	url = https://github.com/kgbook/SpdlogHelper.git
